{
    "singleQuote": false,
    "arrowParens": "always",
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
