@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Satoshi-Regular.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/Satoshi-Italic.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Satoshi-Medium.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/Satoshi-Bold.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
}