.iconify {
    font-size: size(16);

    &--link {
        cursor: pointer;
    }
}

.own {
    height: 60%;
}

.panel-nav a{
    &:focus, 
    &:hover, 
    &.active {
        .own {
            filter: invert(0%);
        }
    }
}

.main-footer__content, .panel-nav{
    .own {
        height: 18px;
        filter: invert(100%);
    }
}

.mc-avatar--big.mc-avatar--icon.mc-avatar{
    .own{
        height: 50%;
    }
}
